<form class="ui form">
    <h4 class="ui dividing header">Добавить тариф</h4>

    <div class="field">
        <label>Работа</label>
        <div class="ui fluid search selection dropdown">
            <input id="service" type="hidden" name="Service" value="{{rate.Service.Id}}">
            <i class="dropdown icon"></i>
            <div class="default text">Работа</div>
            <div class="menu">
                <div class="item" ng-repeat="service in services" data-value="{{service.Id}}"
                     ng-click="setService(service.Id)">{{service.Name}}</div>
            </div>
        </div>
    </div>

    <div class="field">
        <label>Цена</label>
        <div class="ui right labeled input">
            <input type="text" ng-model="rate.Amount" name="Amount" placeholder="Цена" />
            <div class="ui basic label">грн.</div>
        </div>
    </div>

    <div class="field">
        <label>Дата начала</label>
        <input type="date" ng-model="rate.StartDate" name="StartDate" placeholder="dd-MM-yyyy">
    </div>

    <div class="ui error message"></div>
    <button ng-click="createNewRate()" class="ui green primary button">Сохранить</button>
    <button ng-click="cancel()" class="ui red basic button">Отмена</button>
    <div id="space"></div>
</form>